.action-button-group {
    padding: 1px;
    border-radius: 1px;
    margin: 1px 1px 10px;
}
.action-button {
     /* --slds-c-button-line-height:1.4rem; */
    /*--slds-c-button-inverse-color-background: #f3f3f3;
    --slds-c-button-inverse-color-background-active: #7C878E;
    --slds-c-button-inverse-color-background-hover: #7C878E;
    --slds-c-button-inverse-color-border: #7C878E;
    --slds-c-button-inverse-color-border-active: #747474;
    --slds-c-button-inverse-color-border-hover: #747474;
    --slds-c-button-inverse-text-color: #747474;
    --slds-c-button-inverse-text-color-active: #f3f3f3;
    --slds-c-button-inverse-text-color-hover: #f3f3f3; */
}